.footer {
  background-color: $brown;
  .l-container {
    &_footer_nav {
      &_list {
        display: flex;
        justify-content: center;
        line-height: 70px;

        &_cmn {
          margin: 0 30px;
          :hover {
            opacity: 0.8;
          }

          > a {
            display: block;
            font-family: "Sweet Sans Medium", sans-serif;
            font-weight: 500;
            font-style: normal;
            color: $white;
            font-size: 16px;
          }
        }
      }
    }
    &_footer_copyright {
      text-align: right;
      color: $white;
      font-size: 12px;
      font-family: "Sweet Sans Medium", sans-serif;
      font-weight: 500;
      font-style: normal;
      padding-bottom: 10px;
    }
  }
}
