@media screen and (max-width: 768px) {
  br {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  br {
    display: block !important;
  }
}

@media screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .sp {
    display: block !important;
  }
}

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-size: 18px;
  color: #292929;
  background-color: #fff;
  line-height: 1.5;
  font-weight: bold;
  font-family: granville, serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

a {
  color: #292929;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.l-container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.cmn-title {
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.1em;
  margin: 100px 0 70px 0;
}

.header_fixed {
  background-color: #5d4c25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .header_fixed .header_nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5d4c25;
    opacity: 0.9;
    display: none;
    z-index: 100000;
  }
}

.header_fixed .header_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 70px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .header_fixed .header_nav_list {
    list-style: none;
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    height: 100vh;
  }
}

.header_fixed .header_nav_list_cmn {
  margin: 0 15px;
}

.header_fixed .header_nav_list_cmn :hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .header_fixed .header_nav_list_cmn {
    background-color: #5d4c25;
    width: 100vw;
  }
}

.header_fixed .header_nav_list_cmn > a {
  display: block;
  font-family: "Sweet Sans Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .header_fixed .header_nav_list_cmn > a {
    display: block;
    padding: 25px;
    border-radius: 5px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
  }
}

.header_fixed #nav_toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .header_fixed #nav_toggle {
    z-index: 100000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
  }
}

@media screen and (max-width: 768px) {
  .header_fixed #nav_toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 17px;
    display: inline-block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    vertical-align: top;
  }
}

@media screen and (max-width: 768px) {
  .header_fixed #nav_toggle span:nth-child(2) {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header_fixed #nav_toggle span:nth-child(3) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header_fixed #nav_toggle.show span {
    top: 29px;
    left: 14px;
    width: 35px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .header_fixed #nav_toggle.show span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media screen and (max-width: 768px) {
  .header_fixed #nav_toggle.show span:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header_fixed #nav_toggle.show span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.footer {
  background-color: #5d4c25;
}

.footer .l-container_footer_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 70px;
}

.footer .l-container_footer_nav_list_cmn {
  margin: 0 30px;
}

.footer .l-container_footer_nav_list_cmn :hover {
  opacity: 0.8;
}

.footer .l-container_footer_nav_list_cmn > a {
  display: block;
  font-family: "Sweet Sans Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 16px;
}

.footer .l-container_footer_copyright {
  text-align: right;
  color: #fff;
  font-size: 12px;
  font-family: "Sweet Sans Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 10px;
}

.top {
  background-image: url(../image/tp.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin-top: 70px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .top {
    background-image: url(../image/sptop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    margin-top: 70px;
  }
}

.top .title {
  position: absolute;
  top: 49%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #292929;
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 768px) {
  .top .title {
    top: 39%;
    left: 35%;
  }
}

.top .title .main-title {
  font-size: 55px;
  white-space: nowrap;
  letter-spacing: 0.07em;
}

@media screen and (max-width: 768px) {
  .top .title .main-title {
    font-size: 40px;
    margin: 0 4%;
  }
}

.top .title .sub-title {
  font-size: 20px;
  letter-spacing: 0.07em;
}

@media screen and (max-width: 768px) {
  .top .title .sub-title {
    font-size: 15px;
  }
}

.about .l-container_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .about .l-container_item {
    display: block;
  }
}

.about .l-container_item_image {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .about .l-container_item_image {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) {
  .about .l-container_item_cont {
    margin-left: 70px;
    -webkit-box-flex: 0.9;
        -ms-flex: 0.9;
            flex: 0.9;
  }
}

@media screen and (max-width: 768px) {
  .about .l-container_item_cont {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.about .l-container_item_cont_name {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.07em;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .about .l-container_item_cont_name {
    text-align: center;
  }
}

.about .l-container_item_cont_text {
  font-family: "Noto Sans JP";
  letter-spacing: 0.05em;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  margin-top: 30px;
}

.skills .l-container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #4e4224;
}

@media screen and (max-width: 768px) {
  .skills .l-container_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.skills .l-container_box_item {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .skills .l-container_box_item {
    width: 40%;
  }
  .skills .l-container_box_item:nth-child(n + 3) {
    margin-top: 40px;
  }
}

.skills .l-container_box_item_content {
  margin-top: 20px;
}

.service .l-container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .service .l-container_box {
    display: block;
  }
}

.service .l-container_box_item {
  margin: 0 auto;
  width: 27.54237%;
  -webkit-box-shadow: 0px 0px 8px;
          box-shadow: 0px 0px 8px;
}

@media screen and (max-width: 768px) {
  .service .l-container_box_item {
    width: 80%;
    padding-bottom: 1px;
  }
  .service .l-container_box_item:nth-child(n + 2) {
    margin-top: 6%;
  }
}

.service .l-container_box_item_image img {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service .l-container_box_item_title {
  border-bottom: solid 2px #292929;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-left: 20px;
}

.service .l-container_box_item_text {
  margin: 20px;
  font-size: 16px;
}

.service .l-container_text {
  text-align: center;
  margin-top: 50px;
}

.works .l-container_cont {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .works .l-container_cont a {
    display: inline-block;
  }
}

.works .l-container_cont a .l-container_cont_box {
  width: 45%;
  overflow: hidden;
  position: relative;
  margin: 2% 2%;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .works .l-container_cont a .l-container_cont_box {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .works .l-container_cont a .l-container_cont_box {
    width: 80%;
    margin: 4% auto;
  }
}

.works .l-container_cont a .l-container_cont_box img {
  border: solid 1px #e0e0e0;
}

.works .l-container_cont a .l-container_cont_box_mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.works .l-container_cont a .l-container_cont_box_mask_title {
  color: #fff;
  font-size: 20px;
}

.works .l-container_cont a .l-container_cont_box_mask:hover {
  opacity: 1;
}

.contact {
  background-color: #4e4224;
  padding-bottom: 90px;
  margin-top: 100px;
}

.contact .l-container {
  padding-top: 1px;
}

.contact .l-container .cmn-title {
  color: #fff;
}

.contact .l-container_text {
  text-align: center;
  color: #fff;
  font-family: Lato;
  line-height: 2;
  font-weight: normal;
}

.contact .l-container .submit-btn a {
  color: #4e4224;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  font-family: Lato;
  outline: none;
  border: none;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  -webkit-box-shadow: 0 0 8px #292929;
          box-shadow: 0 0 8px #292929;
}

.contact .l-container .submit-btn a:hover {
  opacity: 0.5;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */