.about {
  .l-container {
    &_item {
      display: flex;
      justify-content: center;
      @include sp {
        display: block;
      }
      &_image {
        width: 30%;
        @include sp {
          width: 60%;
          margin: 0 auto;
        }
      }
      &_cont {
        @include pc {
          margin-left: 70px;
          flex: 0.9;
        }
        @include sp {
          margin-top: 30px;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
        &_name {
          font-size: 32px;
          font-family: "Playfair Display", serif;
          letter-spacing: 0.07em;
          font-weight: 500;
          @include sp {
            text-align: center;
          }
        }
        &_text {
          font-family: "Noto Sans JP";
          letter-spacing: 0.05em;
          font-weight: 500;
          align-items: center;
          line-height: 2;
          margin-top: 30px;
          @include sp {
          }
        }
      }
    }
  }
}
