.contact {
  background-color: $lightbrown;
  padding-bottom: 90px;
  margin-top: 100px;
  .l-container {
    padding-top: 1px;
    .cmn-title {
      color: $white;
    }
    &_text {
      text-align: center;
      color: $white;
      font-family: Lato;
      line-height: 2;
      font-weight: normal;
    }

    .submit-btn {
      a {
        color: $lightbrown;
        background: $white;
        display: flex;
        width: 400px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 20px;
        font-family: Lato;
        outline: none;
        border: none;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        box-shadow: 0 0 8px $black;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}
