.service {
  .l-container {
    &_box {
      display: flex;
      @include sp {
        display: block;
      }
      &_item {
        margin: 0 auto;
        width: percentage(325/1180);
        box-shadow: 0px 0px 8px;
        @include sp {
          width: 80%;
          padding-bottom: 1px;
          &:nth-child(n + 2) {
            margin-top: 6%;
          }
        }
        &_image {
          img {
            height: 220px;
            object-fit: cover;
          }
        }

        &_title {
          border-bottom: solid 2px $black;
          display: inline-block;
          font-size: 20px;
          font-weight: 900;
          margin-top: 20px;
          margin-left: 20px;
        }
        &_text {
          margin: 20px;
          font-size: 16px;
        }
      }
    }
    &_text {
      text-align: center;
      margin-top: 50px;
    }
  }
}
