.works {
  .l-container {
    &_cont {
      overflow: hidden;

      a {
        @include sp {
          display: inline-block;
        }
        .l-container_cont_box {
          width: 45%;
          overflow: hidden;
          position: relative;
          margin: 2% 2%;
          text-align: center;
          @include pc {
            display: inline-block;
          }

          @include sp {
            width: 80%;
            margin: 4% auto;
          }

          img {
            border: solid 1px #e0e0e0;
          }
          &_mask {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: all 0.5s ease;

            &_title {
              color: $white;
              font-size: 20px;
            }
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
