html {
  text-size-adjust: 100%;
}

body {
  font-size: 18px;
  color: $black;
  background-color: $white;
  line-height: 1.5;
  font-weight: bold;
  font-family: granville, serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

a {
  color: $black;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.l-container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}
